.comment-index-item{
    display: flex;
    flex-direction: row;
    height: 10%;
    align-content: flex-start;
}

.Comments-container{
    border: solid blue 1px;
}

.dark-comments{
    color: white;
}

.comment-body{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.comment-index-item{
    height: 7vh;
}

.comment-index-item > p{
    margin-right: 1%;
}

.comment-form{
    display: flex;
    flex-direction: row;
}

.comment-form-bar{
    border: none;
    border-bottom: solid grey 1px;
    width: 100%;
    outline: 0;
    background-color: inherit;
    color: inherit;
}

.comment-text{
    width: 100%;
}

.comment-actions{
    display: flex;
    justify-content: flex-end;
}

.comment-like-box{
    width: 5vw;
}

.comment-author{
    font-weight: bold;
}

.comment-details{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.comment-date{
    color: grey;
    font-size: 80%;
    padding-left: 1%;
    width: fit-content;
    position: relative;
    top: 16%;
}

.comment-header{
    
    display: flex;
    flex-direction: row;
    width: 100%;
}

.fa-ellipsis-h {
    transform: rotate(90deg);
}

.comment-cancel{
    border-style: none;
    background: #1a73e8;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    font-size: 15px;
}

.comment-submit{
    border-style: none;
    background: #1a73e8;
    color: white;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 2%;
    margin-right: 2%;
}
