.navbar{
    display: flex;
    position: fixed;
    background: white;
    z-index: 2;
    height: 30px;
    width: 100%;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    box-shadow: 0px 3px #f4f4f4
}

.nav-home{
    /* display: flex; */
    /* align-items: stretch; */
    /* text-align: center; */
    background: white;
    /* height: 20px; */
    /* text-transform: uppercase; */
    padding-left: -10px;
    padding-right: 10px;
    font-size: 14px;
    /* margin-top: 3px; */
    /* padding-right: 800px; */
    /* position: absolute; */
    /* left: 100px; */
    /* translate: 3px; */
    font-family: "Oswald", sans-serif;
    color: black;
    font-weight: bold;
    /* translate: 20px; */
    /* translate: 20px; */
}



.nav-login, .signout-button{
    display: flex;
    align-items: center;
    text-align: center;
    background: white;
    height: 20px;
    border: solid 1px #065fd4;
    text-transform: uppercase;
    /* padding-left: 10px;
    padding-right: 10px; */
    font-size: 12px;
    /* margin-top: 11px;  */
    font-family: Roboto, Arial, sans-serif;
    font-weight: 200;
}

.nav-login{
    margin-right: 60px;
}
/* .nav-div{
    display: flex;
    justify-content: space-between;
} */

.left-nav{
    border: solid red 5px;
    position: fixed;
    z-index: 1;
    position: absolute;
    width: 70px;
    height: 100%;
    background-color: #f5f5f5;

}

.signout-button{
    margin-top: 0;
}

body{
    background: #fafafa;
}


.fa-youtube{
    color: #ff0000;
    
}

.searchBar{
    
    height: 15px;
    width: 500px;
    /* position: absolute; */
    /* left: 600px; */
    /* justify-content: center; */
    /* margin-left: -1000px; */
    

}

.nav-leftside{
    display: flex;
    justify-content: space-around;
    /* border: solid 3px #ff0000; */
    width: 250px;
    height: 15px;

    
}

/*  justify-content: flexbox start
    <div/>
    display: flex
    justify-content: space-between
    */
    