.navbar{
    display: flex;
    background: white;
    height: 30px;
    padding: 8px 16px;
    justify-content: space-between;
    text-align: center;
    box-shadow: 0px 3px #f4f4f4
}

.nav-home{
    display: flex;
    align-items: center;
    text-align: center;
    background: white;
    height: 20px;
    /* text-transform: uppercase; */
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    margin-top: 8px;
    font-family: "Oswald", sans-serif;
    color: black;
    font-weight: bold;
}

.nav-login, .signout-button{
    display: flex;
    align-items: center;
    text-align: center;
    background: white;
    height: 20px;
    border: solid 1px #065fd4;
    text-transform: uppercase;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 12px;
    margin-top: 11px;
    font-family: Roboto, Arial, sans-serif;
    font-weight: 200;
}

.signout-button{
    margin-top: 0;
}

body{
    background: #fafafa;
}


.fa-youtube{
    color: #ff0000;
}

.searchBar{
    display: flex;
    height: 15px;
    width: 500px;
    margin-top: 10px;
    /* justify-content: center; */
    left: 30px

}