.light-navbar{
    display: flex;
    position: fixed;
    background: white;
    z-index: 2;
    height: 35px;
    width: 100%;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    box-shadow: 0px 3px #f4f4f4;
}

.dark-navbar{
    display: flex;
    position: fixed;
    background: #272727;
    z-index: 2;
    height: 35px;
    width: 100%;
    padding: 8px 16px;
    justify-content: space-between;
    align-items: center;
    /* text-align: center; */
    box-shadow: 0px 3px #272727;
}

.light-modal{
    /* border: red solid 1px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-around;
    position: absolute;
    height: 20vh;
    width: 15vh;
    top: 4vh;
    background-color: white;
    box-shadow: 0px 0px 5px 0px #888888;
    right: 2px;
}

.dark-modal{
    /* border: red solid 1px; */
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: space-around;
    position: absolute;
    height: 20vh;
    width: 15vh;
    top: 4vh;
    background-color: #282828;
    color: white;
    box-shadow: 0px 0px 5px 0px #888888;
    right: 2px;
}

.hidden{
    display: none;
}

 .signout-button{
     
 }

.light-nav-home{
    /* display: flex; */
    /* align-items: stretch; */
    /* text-align: center; */
    background: white;
    /* height: 20px; */
    /* text-transform: uppercase; */
    padding-left: -10px;
    padding-right: 10px;
    font-size: 20px;
    /* margin-top: 3px; */
    /* padding-right: 800px; */
    /* position: absolute; */
    /* left: 100px; */
    /* translate: 3px; */
    font-family: "Oswald", sans-serif;
    color: black;
    font-weight: 400;
    /* translate: 20px; */
    /* translate: 20px; */
}

.dark-nav-home{
    /* display: flex; */
    /* align-items: stretch; */
    /* text-align: center; */
    background: #272727;
    /* height: 20px; */
    /* text-transform: uppercase; */
    padding-left: -10px;
    padding-right: 10px;
    font-size: 20px;
    /* margin-top: 3px; */
    /* padding-right: 800px; */
    /* position: absolute; */
    /* left: 100px; */
    /* translate: 3px; */
    font-family: "Oswald", sans-serif;
    color: white;
    font-weight: 400;
    /* translate: 20px; */
    /* translate: 20px; */
}



.light-nav-login{
    display: flex;
    align-items: center;
    text-align: center;
    background: white;
    height: 20px;
    width: fit-content;
    border: solid 2px #065fd4;
    text-transform: uppercase;
    /* padding-left: 10px;
    padding-right: 10px; */
    font-size: 12px;
    /* margin-top: 11px;  */
    font-family: Roboto, Arial, sans-serif;
    font-weight: 200;
    padding: 6px;
    margin-right: 60px;
    margin-top: 3%;
    width: 60px;
    display: flex;
    align-content: center;
    position: relative;
    border-radius: 3px;
}

.dark-nav-login{
    display: flex;
    align-items: center;
    text-align: center;
    background: #272727;
    height: 20px;
    width: fit-content;
    border: solid 2px #065fd4;
    text-transform: uppercase;
    /* padding-left: 10px;
    padding-right: 10px; */
    font-size: 12px;
    /* margin-top: 11px;  */
    font-family: Roboto, Arial, sans-serif;
    font-weight: 200;
    padding: 6px;
    margin-right: 60px;
    margin-top: 3%;
    width: 60px;
    display: flex;
    align-content: center;
    position: relative;
    border-radius: 3px;
}

/* .nav-login{
    margin-right: 60px;
    margin-top: 3%;
    width: 60px;
    display: flex;
    align-content: center;
    position: relative;
} */
/* .nav-div{
    display: flex;
    justify-content: space-between;
} */

.light-left-nav{
    position: fixed;
    z-index: 1;
    /* position: absolute; */
    width: 70px;
    height: 100%;
    background-color: #f5f5f5;

}

.dark-left-nav{
    position: fixed;
    z-index: 1;
    /* position: absolute; */
    width: 70px;
    height: 100%;
    background-color: #1c1c1c;

}

.modal .hidden{
    display: none;
}


.signout-button{
    margin-top: 0;
}

body{
    background: #fafafa;
}


.fa-youtube{
    color: #ff0000;
    
}

.light-searchBar{
    
    height: 35px;
    width: 40vw;
    border-style: none;
    border: solid lightgray 1px;
    font-size: 15px;
    border-radius: 2px;
    /* position: absolute; */
    /* left: 600px; */
    /* justify-content: center; */
    /* margin-left: -1000px; */
}

.dark-searchBar{
    color: white;
    
    height: 35px;
    width: 40vw;
    border-style: none;
    border: solid #121212 1px;
    font-size: 15px;
    border-radius: 2px;
    background-color: #121212;
    /* position: absolute; */
    /* left: 600px; */
    /* justify-content: center; */
    /* margin-left: -1000px; */
}

.light-searchIcon{
    border-style: none;
    font-size: 15px;
    border: solid lightgray 1px;
    color: #828282;
    width: 70px;
    height: 39px;
    background-color: #f8f8f8;
    position: relative;
    right: 70px;
    /* bottom: 2px; */
}

.dark-searchIcon{
    border-style: none;
    font-size: 15px;
    border: solid #383838 1px;
    color: #828282;
    width: 70px;
    height: 39px;
    background-color: #383838;
    position: relative;
    right: 70px;
    /* bottom: 2px; */
}

.nav-leftside{
    display: flex;
    justify-content: space-around;
    /* border: solid 3px #ff0000; */
    width: 250px;
    height: 15px;
}

.fa-video{
    padding: 15px;
    position: relative;
    right: 50px;
    font-size: 16px;
    color: #606060
}

.fa-th{
    padding: 15px;
    position: relative;
    right: 50px;
    font-size: 16px;
    color: #606060
}

.fa-ellipsis-v {
    padding: 15px;
    position: relative;
    right: 50px;
    font-size: 16px;
    color: #606060
}

.nav-rightside{
    display: flex;
    justify-content: flex-end;
    position: relative;
    right: 5%;
}

.fa-linkedin{
    font-size: 40px;
    position: relative;
    margin-top: 60px;
    margin-left: 20px;
    color: grey;
}

.fa-angellist{
    font-size: 40px;
    position: relative;
    margin-top: 70px;
    margin-left: 22px;
    color: grey;
}

.fa-address-card{
    font-size: 40px;
    position: relative;
    margin-top: 80px;
    margin-left: 15px;
    color: grey;
}

.fa-linkedin:hover{

    color: red;
}

.fa-angellist:hover{

    color: red;
}

.fa-address-card:hover{

    color: red;
}

/*  justify-content: flexbox start
    <div/>
    display: flex
    justify-content: space-between
    */
    