
.login-form-container{
    display: flex;
    align-items: center;
    text-align: center;
    
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: white;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.login-form-container{

}

.login-form-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    border: solid lightgrey 1px;
    height:501px;
    width:  448px;
    border-radius: 9px;
    
}

.entry-text{
    font-size: 20px;
}

.session-submit{
    border-style: none;
    background: #1a73e8;
    color: white;
    height: 30px;
    width: 80px;
    border-radius: 5px;
    font-size: 15px;
}

.login-input{
    border-style: none;
    border-radius: 2px;
    border: solid lightgray 1px;
    height: 40px;
    width: 300px;

    
}

.troogle-box{
    padding: 10px;
    height: 420px;
    width: 280;
}

.troogle-logo{
    padding: 5%;
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
}

.signup-button{
    color: #065fd4;

}

.errors{
    color: red;
}

input[type=text], input[type=email], input[type=password]{
    padding-left: 20px;
}

.login-form-label{
    display: block;
      position: relative;
      left: 0px;
      color: #999;
      font-family: 'Helvetica', sans-serif;
      font-size: 16px;
      z-index: 1;
      transition: all 0.3s ease-out;
}

.login-input{
     display: block;
      position: relative;
      width: 100%;
      font-size: 16px;
      z-index: 2;
}

.login-input:focus{
    outline: none;
    border: 1px solid #00aced;
}

.login-input:focus + .login-form-label{
    top: -40px;
    font-size: 11px;
    color: #00aced;
}

