.upload-form-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-color: #fafafa;
    font-family: Futura,Trebuchet MS,Arial,sans-serif;
}

.fa-cloud-upload-alt{
    font-size: 20vh;
}

.fa-cloud-upload-alt:hover{
    font-size: 20vh;
    color: red;
}

.upload-form-box{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;

    border-color: solid red;

}